<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Listado de Categorias </title>
  
</head>
<body>


    <div style="text-align: center;">
    
        <a href="/"><button type="button" class="btn btn-info" >Ir a Listar</button></a>
        <a href="/crear_libro/"><button type="button" class="btn btn-info" >Ir a Crear Libro</button></a>
        <a href="/crear_categoria/"><button type="button" class="btn btn-info"  >Ir a Crear Categoria</button></a>
    </div >

    <br>
<div style="text-align: center;">
===============================================================================================================================================
</div>

   
    <h1 style="text-align: center;">Insertar Categorias</h1>
 
    
        <form name="f1" action="/crear_categoria/" method="POST" enctype="multipart/form-data"> 
            <div class="form-group" ></div>
            <input type="hidden" name='accion' value='crear'>
            {% csrf_token %}
           
                <label>Nombre de la Categoria</label>
                <input type="text" name='nombre' value='' class="form-control" placeholder= 'Colocar el nombre de la categoria'> <br>
                    
                       
                        <button type="submit"  value="CREAR" class="btn btn-primary mb-2" >INSERTAR</button>
                       
                    </div>                      
</form>

<br>
<div style="text-align: center;">
    ===============================================================================================================================================
    </div>


<table class="table table-striped">
    <thead>
        <tr> 
            <th style="text-align: center;">Nombre</th>
            <th>Opciones</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
    
       
        
        {% for categoria in categorias %}
    <tr>
        
            <form name="f1" action="/crear_categoria/" method="POST" enctype="multipart/form-data"> 
                <div class="form-group" ></div>
                {% csrf_token %}
                <input type="hidden" id='{{categoria.id}}' name='id' value='{{categoria.id}}' style="text-align: center;" class="form-control">
    
                
                    <td style="text-align: center;"><input type="text" id='{{categoria.nombre}}' name='nombre' value='{{categoria.nombre}}' style="text-align: center;" class="form-control">  </td>
      
                        
                            <td><select name="accion" id="accion" class="form-control form-control-sm">
                                <option value="MODIFICAR">Modificar</option>
                                <option value="BORRAR">Borrar</option>
                              </select> </td>
                              <td>
                            <button type="submit" class="btn btn-primary mb-2" >GO</button>
                            </td>
                        </div>
    </form>
    </tr>
    
        {% endfor %}
    
  
    </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>