<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Listado de Libros </title>
    
</head>
<body>
    <div style="text-align: center;">
    
    <a href="/"><button type="button" class="btn btn-info" >Ir a Listar</button></a>
    <a href="/crear_libro/"><button type="button" class="btn btn-info" >Ir a Crear Libro</button></a>
    <a href="/crear_categoria/"><button type="button" class="btn btn-info"  >Ir a Crear Categoria</button></a>
</div >
<br>
<div style="text-align: center;">
===============================================================================================================================================
</div>

<table style="text-align: center;">
    <tr>

    <h1 style="text-align: center;">Listado de Libros</h1>
    <form name="f1" action="/" method="POST" enctype="multipart/form-data" > 
    <div class="row" style="text-align: center;">
        {% csrf_token %}


        <div class="col" style="text-align: center;">
    
        <input type="text" id='buscador' name='buscador' class="form-control" placeholder= 'Colocar nombre o apellido del Autor'> 
        <input type='hidden' name='accion' value='buscar' class="form-control">
    </div>
        <div class="col" style="text-align: center;">
        <select name="filtro" class="form-control form-control-sm">
            <option value="sin filtrar">Todas las categorias</option>
            {% for categoria in categorias %}
            <option value="{{categoria.nombre}}">{{categoria.nombre}}</option>
            {% endfor %}
          </select>
        </div>


          <div class="col" style="text-align: center;">
        <button type="submit" class="btn btn-primary mb-2" >Buscar</button> 
    </div>

    

        
    </div>
    <div style="text-align: center;">
        ===============================================================================================================================================
        </div>

        
    </form>
</tr>

</table>
    <table class="table table-striped">
<thead>
    <tr>
       
        <th scope="col" style="text-align: center;">Categoria</th>
        <th scope="col" style="text-align: center;">Título</th>
        <th scope="col" style="text-align: center;">Autor</th>
        <th scope="col" style="text-align: center;">Portada</th>
        <th scope="col" style="text-align: center;">Preview</th>
        <th scope="col" style="text-align: center;">Opciones</th>
        <th scope="col" style="text-align: center;">Accion</th>
    </tr>
</thead>
<tbody>

   
    
    {% for index,libro in libros.iterrows %}

    
<tr style="margin-bottom: 20% !important;">
    
        <form name="f1" action="/" method="POST" enctype="multipart/form-data" style="margin-bottom: 200px;"> 
            <div class="form-group" >
    
            {% csrf_token %}
            <input type="hidden" id='{{libro.id}}' name='id' value='{{libro.id}}'>

            <td>


            {% for categoria in categorias %}
            <div class="form-check">
            <input type="checkbox" name="categoria" {% if categoria.nombre in libro.categoria %} checked=True {% endif %} value="{{categoria.nombre}}" class="form-check-input" >{{categoria.nombre}}
        </div>
            {% endfor %}
          
            </td>
    
                <td><input type="text" id='{{libro.titulo}}' name='titulo' value='{{libro.titulo}}' class="form-control"> </td>
  
                    <td><input type="text" id='{{libro.autor}}' name='autor' value='{{libro.autor}}' class="form-control"> </td>
    
                        <td><input type="text" id='{{libro.portada}}' name='portada' value='{{libro.portada}}' class="form-control"> </td>

                        <td style="text-align: center;"><img src="{{libro.portada}}" width="180px" height="240px"> </td>
                        <td><select name="accion" id="accion" class="form-control form-control-sm">
                            <option value="MODIFICAR">Modificar</option>
                            <option value="BORRAR">Borrar</option>
                          </select>
                          </td>
                          <td style="text-align: center;">
                        <button type="submit" class="btn btn-primary mb-2" >GO</button>
                        </td>
                        

                    </div>
                    
                    </form>
                    

</tr>


    {% endfor %}


</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>